@import 'bootstrap.less';
@import 'materialadmin.less';
@import 'jasny-bootstrap/fileupload.less';
@import 'vendor.less';
@import '../vendor/roboto-fontface/css/roboto-fontface.less';
@import (css,inline) '../vendor/select2/dist/css/select2.min.css';
@import '../vendor/select2-bootstrap-theme/src/select2-bootstrap.less';
.less-padding{
	padding:0;
	.col-xs-10{
		padding: 10px;
	}
}
hr.read-more{
	border-top: dashed 1px #fdd;
	padding-bottom:15px;
	&:after{
		content: "Read More";
	    position: relative;
	    font-size: 11px;
	    padding: 10px 20px;
	    border-radius: 0 0 5px 5px;
	    background: #FDD;
	    color: #Faa;
	    left: 91.5%;
	    margin-bottom: 10px;
	    top: 6px;
	}
}
.no-pad-bot{
	padding-bottom: 0 !important;
}
.img-user{
	background-position: center;
	background-size: cover;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 2px solid #fff;
	margin: 0 auto;
}

.header-img{
	background-position: center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url('../imgs/bg-login.jpg');
}

.material-color{
	transition: background-color .5s ease,color .5s ease;

	&.red{
		background-color: #F44336;
		color:#FFF;
	}
	&.pink{
		background-color: #e91e63;
		color:#FFF;
	}
	&.purple{
		background-color: #9C27B0;
		color:#FFF;
	}
	&.deep-purple{
		background-color: #673AB7;
		color:#FFF;
	}
	&.indigo{
		background-color: #3F51B5;
		color:#FFF;
	}
	&.blue{
		background-color: #2196F3;
		color:#FFF;
	}
	&.light-blue{
		background-color: #03A9F4;
		color:#000;
	}
	&.cyan{
		background-color: #00bcd4;
		color: #000;
	}
	&.teal{
		background-color: #009688;
		color:#FFF;
	}
	&.green{
		background-color: #4CAF50;
		color:#000;
	}
	&.light-green{
		background-color: #8BC34A;
		color:#000;
	}
	&.lime{
		background-color: #CDDC39;
		color:#000;
	}
	&.yellow{
		background-color: #FFEB3B;
		color:#000;
	}
	&.amber{
		background-color: #FFC107;
		color:#000;
	}
	&.orange{
		background-color: #FF9800;
		color:#000;
	}
	&.deep-orange{
		background-color: #FF5722;
		color:#FFF;
	}
	&.brown{
		background-color: #795548;
		color:#FFF;
	}
	&.grey{
		background-color: #9E9E9E;
		color:#000;
	}
	&.blue-grey{
		background-color: #607D8B;
		color:#FFF;
	}
}
.large-icon,
.lg-icon{
	font-size: 32px !important;
}
.xl-icon{
	font-size: 46px !important;
}
.sm-padding{
	padding: 5px 3px;
}
body{
	font-family: 'Roboto';
}
.card-head{
	padding-top: 10px;
}
label.role-select{
	display: block;
	&.inverst .material-color{
		background-color: #9E9E9E;
		color:#000;
	}
}
.title{
	& .fa, & .md{
		vertical-align: middle;
		display: unset;
	}
}
#menubar{
	.menubar-scroll-panel
	{
		padding-top: 80px; 
	}
	.gui-icon {
		color: #FFF;
	}
}
.container{
	&.login{
		padding-top:10%;
	}
}
.full-divided{
	width: 100% ;
	display: inline-block;
}
.card-title{
	position: absolute;
	top: 20px;
	left: 10px; 
	color: #FFF;
	font-size: 30px;
	font-family: "Roboto-Light";
}
.img-circle{
	border-radius:100%;
	overflow: hidden;
	
}
.dropzone{
	border: none;
}
.dz-default{
	min-height: 100px;
	background: #0aa89e;
	border:1px solid #0aa89e;
	color: #fff; 
	-webkit-border-radius: 2px; 
	border-radius: 2px;  
}
.valing{
	vertical-align: middle !important;
}
.box-crop{
	width: 400px;
	margin:0 auto;
}
.cropit-preview{
	width: 300px;
	height: 300px;
	margin:50px;
}
/* Translucent background image */
.cropit-preview-background {
  opacity: .2;
}

/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
input.cropit-image-zoom-input {
  position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
  overflow: hidden;
}
.block-line{
	width:80%;
	margin: 0 auto;
	.block{
		display: block;
		float:left;
		padding:5px 0;
		&.small{
			padding-left:0;
			padding-right:15px;
			padding-top:11px;
		}
		&.big{
			padding-left:15px;
			padding-right:0px;
		}
		&.slider{
			width: 41%;
			padding-top:10px;
		}
	}
}
.cropit-image-zoom-input.custom::-moz-range-track,
.cropit-image-zoom-input.custom::-moz-range-track{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	height:5px;
	background:#eee;
	-webkit-border-radius:5px;
	border-radius:5px;
	outline:none}
.cropit-image-zoom-input.custom::-webkit-slider-thumb,
.cropit-image-zoom-input.custom::-webkit-slider-thumb{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	width:15px;
	height:15px;
	background:#888;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-transition:background 0.25s;
	-moz-transition:background 0.25s;
	-o-transition:background 0.25s;
	-ms-transition:background 0.25s;
	transition:background 0.25s;
}
.cropit-image-zoom-input.custom::-webkit-slider-thumb:hover,
.cropit-image-zoom-input.custom::-webkit-slider-thumb:hover,
.cropit-image-zoom-input.custom::-webkit-slider-thumb:active,
.cropit-image-zoom-input.custom::-webkit-slider-thumb:active{
	background:#bbb}
.cropit-image-zoom-input.custom::-moz-range-thumb,
.cropit-image-zoom-input.custom::-moz-range-thumb{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	width:15px;
	height:15px;
	background:#888;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-transition:background 0.25s;
	-moz-transition:background 0.25s;
	-o-transition:background 0.25s;
	-ms-transition:background 0.25s;
	transition:background 0.25s;
}
.cropit-image-zoom-input.custom::-moz-range-thumb:hover,
.cropit-image-zoom-input.custom::-moz-range-thumb:hover,
.cropit-image-zoom-input.custom::-moz-range-thumb:active,
.cropit-image-zoom-input.custom::-moz-range-thumb:active{
	background:#bbb
}